.footer{
  border-top: 1px solid #e9e9e9 ;
  padding: 20px 0;
  .footer-content{
    margin-top: 20px;
   .footer-source{
    display: flex;
    column-gap: 20px;
    align-items: center;
    .source{
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
      color: var(--meaning-color);
      padding-right: 10px;
    }
    a{
        text-decoration: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        color: var(--text--color);
    }
   }
  }

}
@media  screen and (max-width:400px) {
  .footer .footer-content .footer-source{
    flex-direction: column;
  }
}