@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body{
  font-family: 'Inter', sans-serif;
  background-color: var(--bg--color);
  
}

:root{
  --bg--color:#fff;
  --text--color:#2d2d2d;
  --mode--color:#fff;
  --list--color:#8F19E8;
  --meaning-color:#757575;
  --inp--color:#f4f4f4;
  --box--shadow:rgba(0, 0, 0, 0.10);
}
body.dark{
  --bg--color:#050505;
  --text--color:#FFF;
  --mode--color:#A445ED;
  --list--color:#8F19E8;
  --meaning-color:#757575;
  --inp--color:#1f1f1f;
  --box--shadow:#A445ED;
}


